<div class="face-snap-card" [ngClass]="{snapped: userHasSnapped}">
    <a routerLink="/facesnaps">BACK</a>
    <p>{{ 4346234.36 | number: '1.0-1'}}</p>
    <p>{{ 0.336 | percent: '1.0-1' }}</p>
    <p>{{ 344.36 | currency: 'EUR' : 'code' }} BaZOUKA</p>
    <h2>{{faceSnap.title | uppercase }}</h2>
    <img [src]="faceSnap.imageUrl" [alt]="faceSnap.title">
    <p>{{faceSnap.description}}</p>
    <p>{{faceSnap.createdAt | date: 'd MMMM yyyy, à HH:mm'}}</p>
    <p>
        <button (click)="onSnap()">
            {{textButton}}
        </button>
        <span [ngStyle]="{ color: 'rgb(0, ' + faceSnap.snaps + ', 0)' }">🤌 {{ faceSnap.snaps }}</span>
    </p>
    @if(faceSnap.location) {
    <p>Localisation : {{faceSnap.location}}</p>
    } @else {
    <p>Localisation non spécifiée</p>
    }
</div>